<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trebuchet Simulator</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      .container {
        display: flex;
      }
      .controls {
        width: 400px;
        padding: 20px;
      }
      .simulation {
        flex-grow: 1;
        padding: 20px;
      }
      .slider-container {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="controls">
        <h2>Simulator</h2>
        <form id="simulationForm">
          <table>
            <tr>
              <td>
                <label for="M">Mass of Counterweight (kg):</label>
              </td>
              <td>
                <input type="number" id="M" name="M" step="0.1" value="73150" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="m">Mass of Projectile (kg):</label>
              </td>
              <td>
                <input type="number" id="m" name="m" step="0.1" value="550" />
              </td>
            </tr>

            <tr>
              <td>
                <label for="L1">Length of Counterweight Arm (m):</label>
              </td>
              <td>
                <input type="number" id="L1" name="L1" step="0.1" value="1" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="L2">Length of Throwing Arm (m):</label>
              </td>
              <td>
                <input type="number" id="L2" name="L2" step="0.1" value="9" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="L3">Length of Rope (m):</label>
              </td>
              <td>
                <input type="number" id="L3" name="L3" step="0.1" value="4" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="h">Height of Pivot (m):</label>
              </td>
              <td>
                <input type="number" id="h" name="h" step="0.1" value="10" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="phiInit">Initial Sling Angle (degrees):</label>
              </td>
              <td>
                <input type="number" id="phiInit" name="phiInit" value="180" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="thetaInit">Initial Arm Angle (degrees):</label>
              </td>
              <td>
                <input
                  type="number"
                  id="thetaInit"
                  name="thetaInit"
                  value="72"
                />
              </td>
            </tr>
            <tr>
              <td>
                <label for="launchAngle">Launch Angle (degrees):</label>
              </td>
              <td>
                <input
                  type="number"
                  id="launchAngle"
                  name="launchAngle"
                  value="54"
                  step="1"
                />
              </td>
            </tr>
          </table>
          <br />
          <button type="submit">Simulate</button>
        </form>
        <div class="slider-container">
          <label for="speedSlider"
            >Speed: <span id="speedValue">1x</span></label
          >
          <input
            type="range"
            id="speedSlider"
            min="0.2"
            max="32"
            step="0.1"
            value="1"
          />
        </div>
        <button id="pauseButton">Pause</button>
      </div>
      <div class="simulation">
        <canvas
          id="plot"
          width="800"
          height="600"
          style="width: 100%; height: 100%; border: 1px dotted #000000"
        ></canvas>
      </div>
    </div>
    <div id="simulationData">
      <p>X: <span id="dataX">0</span></p>
      <p>Y: <span id="dataY">0</span></p>
      <p>Time: <span id="dataT">0</span></p>
      <p>Rmax: <span id="dataRmax">0</span></p>
    </div>
    <script>
      document
        .getElementById("simulationForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          const formData = new FormData(event.target);
          const params = Object.fromEntries(formData.entries());
          fetch("/simulate", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(params),
          })
            .then((response) => response.json())
            .then((data) => {
              // Handle the simulation data
              animatePlot(data.x, data.y, data.angle_theta, data.t);
            });
        });

      function resetSimulation() {
        const canvas = document.getElementById("plot");
        const ctx = canvas.getContext("2d");
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        path = [];
        frame = 0;
        isPaused = false;
        document.getElementById("pauseButton").textContent = "Pause";
      }

      document.getElementById("speedSlider").oninput = function () {
        document.getElementById("speedValue").textContent = this.value + "x";
      };

      let draw;
      let path = [];
      // Load the projectile image
      const projectileImage = new Image();

      projectileImage.onload = function () {
        // This function now does nothing as the drawing is handled in the animatePlot function
      };
      projectileImage.src =
        "https://t3.ftcdn.net/jpg/05/91/58/36/360_F_591583639_JaAqX4y6rORJshkPtctq5weTeNQ92js6.jpg";

      const wallImage = new Image();
      wallImage.onload = function () {
        // This function now does nothing as the drawing is handled in the animatePlot function
      };
      wallImage.src =
        "https://img-new.cgtrader.com/items/4206499/9770d418a7/large/brick-wall-3d-model-3d-model-9770d418a7.jpg";

      function animatePlot(xData, yData, angleData, tData) {
        const canvas = document.getElementById("plot");
        const ctx = canvas.getContext("2d");
        const width = canvas.width;
        const height = canvas.height;
        const padding = 5;

        let xMin = -20;
        let xMax = 300;
        let yMin = -0;
        let yMax = 170;
        console.log(xMin, xMax, yMin, yMax);

        const scaleX = (width - 2 * padding) / (xMax - xMin);
        const scaleY = (height - 2 * padding) / (yMax - yMin);
        let frame = 0;

        draw = function () {
          if (frame >= xData.length || yData[frame] < -0.01) {
            // Check if y <= 0 to simulate hitting the ground
            cancelAnimationFrame(animationFrameId);
            return;
          }

          ctx.clearRect(0, 0, width, height);

          const x = padding + (xData[frame] - xMin) * scaleX;
          const y = height - padding - (yData[frame] - yMin) * scaleY;
          const angle = angleData[frame];

          // Save the current context, translate to the projectile's position, rotate, draw the image, and restore the context
          ctx.save();
          ctx.translate(x, y);
          ctx.drawImage(projectileImage, -34, -34, 69, 69);
          ctx.restore();

          const wallX = width / 3 + wallImage.width / 7;
          const wallY = height / 2 + wallImage.height / 2.5;
          ctx.drawImage(wallImage, wallX, wallY, 100, 100);
          path.push({ x, y });

          ctx.strokeStyle = "blue";
          ctx.lineWidth = 2;
          ctx.setLineDash([1, 1]);
          ctx.beginPath();
          for (let i = 0; i < path.length - 1; i++) {
            ctx.moveTo(path[i].x, path[i].y);
            ctx.lineTo(path[i + 1].x, path[i + 1].y);
          }
          ctx.stroke();

          document.getElementById("dataX").textContent =
            xData[frame].toFixed(2) + " m";
          document.getElementById("dataY").textContent =
            yData[frame].toFixed(2) + " m";
          document.getElementById("dataT").textContent =
            tData[frame].toFixed(2) + " s";

          frame++;
          animationFrameId = requestAnimationFrame(draw);
        };

        draw();
      }

      let isPaused = false;
      let animationFrameId;

      document
        .getElementById("pauseButton")
        .addEventListener("click", function () {
          if (!isPaused) {
            cancelAnimationFrame(animationFrameId);
            this.textContent = "Resume";
          } else {
            animationFrameId = requestAnimationFrame(draw);
            this.textContent = "Pause";
          }
          isPaused = !isPaused;
        });
    </script>
  </body>
</html>
